<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Толока - радіо для всіх!</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<!--<header>-->
    <!-- Navigation-->
<!--    <div th:insert="~{/fragments/navbar :: navbarUniverse}"></div>-->
    <!-- Navigation-->
<!--</header>-->
<!-- MessageBox -->
<div th:insert="~{/fragments/messagebox :: mymessagebox}">  </div>
<!-- Header для главной сторінки подкастов -->
<!-- форма для ввода URL для RSS -->
<span style="padding-top: 100px">Працюємо з посиланням на RSS подкасту</span>
<!--<form action="#" th:action="@{'/podcast/getRSSFromUrl'}" method="post">-->
<span th:text="${strUrl.RSSFromUrl}"></span>
<form action="#" th:action="@{'/podcast/getRSSFromUrl'}" th:object="${strUrl}" method="post">
    <div class="mb-3">
        <label for="tested" class="form-label">Режим тестування RSS посилання</label>
        <input type="checkbox" name="tested" th:checked="*{tested}" /><br>
        <label for="RSSFromUrl" class="form-label">Посилання на RSS подкасту</label>
        <input type="text" th:field="*{RSSFromUrl}" class="form-control">
        <label for="clrpodcast" class="form-label">Видалити подкаст на RFA?</label>
        <input type="checkbox" name="clrpodcast" th:checked="*{clrpodcast}" />
<!--        <input type="checkbox" name="clrpodcast" th:field="*{clrpodcast}" th:checked="*{clrpodcast}" />-->
<!--        <input type="text" th:field="${strRSSPodcast}" th:value="${strRSSPodcast}" class="form-control">-->
    </div>
    <button type="submit" class="btn btn-primary">Зберегти</button>
<!--    <a class="btn btn-primary" th:href="'/podcast/pedit/'+${podcast.uuid}">Повернутися</a>-->
</form>
<!-- форма для ввода URL для RSS -->

<div th:if="${strUrl.podcastChannel}">
    <h1 th:text="${strUrl.podcastChannel.title}"></h1>
    <p th:text="${strUrl.podcastChannel.description}"></p>
<!--    <img th:src="${strUrl.podcastChannel.link}" alt="Podcast Image">-->
<!--    <p><b>Author:</b> <span th:text="${podcast.author}"></span></p>-->
<!--    <p><b>Link:</b> <a th:href="${podcast.link}" th:text="${podcast.link}" target="_blank"></a></p>-->

    <h2>Episodes</h2>
    <ul>
        <li th:each="episode : ${strUrl.podcastChannel.item}">
            <h3 th:utext="${episode.title}"></h3>
            <p th:utext="${episode.description}"></p>
            <audio th:src="${episode.enclosure}" controls></audio>
<!--            <p th:text="'Published: ' + ${episode.publishDate}"></p>-->
        </li>
    </ul>
</div>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>