<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gutenberg у Thymeleaf</title>

    <!-- Place the first <script> tag in your HTML's <head> -->
    <script src="https://cdn.tiny.cloud/1/bydlvjchxc28j7126dholodtr51btk81fgtjclbeklh2p8r6/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>

    <style>
        #editor-container { max-width: 800px; margin: auto; padding: 20px; }
    </style>
</head>
<body>
<form action="/creater/gsave" method="post">
    <!-- Текстове поле для редактора -->
    <textarea name="content" id="editor"></textarea>
    <button type="submit">Зберегти</button>
</form>

<script>
    // Ініціалізація TinyMCE
    tinymce.init({
        selector: '#editor',  // Вибір textarea для редактора
        height: 300,          // Висота редактора
  //plugins: 'visualblocks',
  //toolbar: 'visualblocks'
        plugins: 'lists link image table visualblocks',  // Плагіни для форматування
        toolbar: 'undo redo | bold italic | alignleft aligncenter alignright | bullist numlist | link image | visualblocks'
    });
</script>
</body>
</html>
