<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Толока - радіо для всіх!</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<!--</header>-->
<!-- Navigation-->
<div th:insert="~{/fragments/navbar :: navbarUniverse}"></div>
<!-- Header для главной сторінки подкастов -->
<!--<header>-->
<div class="container-fluid" style="padding-top: 80px">
    <form th:action="@{'/acc/editbox/'+${currentPage}+'/'+${curacc.uuid}}" method="post" th:object="${curacc}">
        <div class="row g-3 p-2">
            <div class="col-2">
                <input type="text" th:field="*{acc}" class="form-control" placeholder="Номер">
            </div>
            <div class="col-2">
                <input type="text" th:field="*{accname}" class="form-control" placeholder="Назва">
            </div>
            <div class="col-8">
                <input type="text"  th:field="*{operationcomment}" class="form-control" placeholder="Коментар">
            </div>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary btn-lg btn-block" >
            Зберегти
        </button>
    </form>
</div>
</body>
</html>