<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список шаблонних транзакцій</title>
    <meta charset="UTF-8">
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        table, th, td {
            border: 1px solid #aaa;
            padding: 8px;
        }

        th {
            background-color: #eee;
        }
    </style>
</head>
<body>
<h2>Список шаблонних транзакцій</h2>
<div class="container-fluid" style="padding-top: 80px">
    <div class="row text-center">
        <div class="col align-center">
            <div th:insert="~{/fragments/messagebox :: mymessagebox}"></div>
        </div>
    </div>
    <!-- Перелік новин-->
    <div class="row ">
        <a href="/acc/template-form/0">➕ Створити нову операцію</a>
        <br/><br/>
        <div th:insert="~{/fragments/common :: pagingline}"/>
        <table>
            <thead>
            <tr>
                <th>Назва</th>
                <th>Коментар</th>
                <th>Кількість проводок</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tx : ${transactions}">
                <td>
                    <a th:href="'/acc/template-form/'+${tx.uuid}">
                        <span th:text="${tx.name}"/>
                    </a>
                </td>
                <td th:text="${tx.comment}"></td>
                <td th:text="${#lists.size(tx.entry)}"></td>
            </tr>
            </tbody>
        </table>
        <div th:insert="~{/fragments/common :: pagingline}"/>
        <!-- кінець циклу виводу новин -->
    </div>
</div>
</body>
</html>
